:root{
   --yellow: #db9d0b;
   --black: #000000;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#scrbutton {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

#scrbutton:hover {
    box-shadow:  0 0 5px var(--black);
}

#scrbutton:active {
    background-color: #ffffff;
}

#timer {
    display: inline;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid var(--black);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    min-height: 40vh;
}

span {
    color: var(--yellow);
}

em {
    color: #d91002;
}

p {
    font-size: 20px;
}

#strbutton {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

#strbutton:hover {
    box-shadow:  0 0 5px var(--black);
}

#strbutton:active {
    background-color: #ffffff;
}

#question {
    font-size: 30px;
}

#question-div {
        display: flex;
        justify-content: center;
        flex-direction: column;
}

.choice {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    margin: 5px;
    padding: 10px 10px;
    border-radius: 20px; 
}

.choice:hover {
    box-shadow:  0 0 5px var(--black);
}

.choice:active {
    background-color: red;
}

#correct:active {
    background-color: green;
}

#score-header {
   font-size: 30px;
}

#score {
    border: 5px dashed var(--black);
    padding: 50px;
    font-size: 50px;
    color: var(--yellow);
}

#submit-score {
    background-color: var(--yellow);
    color: var(--black);
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 20px;
}

#submit-score:hover {
    box-shadow:  0 0 5px var(--black);
}

#submit-score:active {
    background-color: #ffffff;
}